@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:host {
  display: block;
  overflow-x: hidden;
}

[app-scroll-animation] {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[app-scroll-animation].is-visible {
  opacity: 1;
  transform: translateY(0);
}

// Hero Video
.h-screen {
  height: 100vh;
}

// Ensure event cards have a consistent height
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
